<p class="pull-right"><a href="">Edytuj</a></p>
<p class="text-center h3">{{ person.firstName }} {{ person.lastName }}!</p>
<p class="text-center">Email: {{ person.email }} </p>
<p class="text-center">Phone: {{ person.phone }} </p>
<p class="text-muted">{{ person.status }} </p>

<div class="row"> 
  <table class="table">
    <thead>
      <th>Oferta pracy</th>
    </thead>
    <tbody>
      <tr>
        <td>JAVA DEV DEV DEV</td>
        <td>
          <a class="btn btn-primary">
            <i class="fa fa-arrow-right"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>